/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-color: navy;
  border-width: 3px;
  border-style: solid;
  border-radius: 3%;
  width: 90vw;
  margin: auto;
  position: relative;
  top: 10px
}

.bloc {
  margin: 15px;
  padding: 10px;
  border-color: navy;
  border-width: 1px;
  border-style: solid;
  border-radius: 3%;
  width: 85vw
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
  font-size: 16px
}

.links {
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: underline
}

#comment {
  margin-left: 10px;
}

